STRIPE_SECRET_KEY=SAMPLEKEY
CLIENT_URL=http://localhost:5500
CLIENT_URLS=http://localhost:5500,http://127.0.0.1:5500
PORT=4242
SHIPPING_RATE_ID=shr_12345
ALLOWED_PRICE_IDS=price_bg65ti,price_exbolt68,price_bg80,price_supergrap,price_cushionwrap
